@use './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	border: none;
	outline: none;
}

ul {
	list-style: none;
}

input {
	border: none;
	outline: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

body {
	max-width: 1440px;
	background: rgba(0, 0, 0, 1);
	font-family: variables.$font;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}

.desktop {
	.header,
	.main,
	.footer {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0 80px;
	}
}

.tablet_landscape,
.tablet,
.mobile {
	.header,
	.main,
	.footer {
		padding: 0 20px;
	}
}
